<section *ngIf="isLogged">
  <app-sign></app-sign>
</section>
<section *ngIf="!isLogged">
  <div class="container">
    <h2 class="display-4 mt-5 mb-5 text-center">Se connecter à TrelloClone</h2>

    <div class="row">
      <div class="col-sm-10 col-md-6 col-lg-4 mx-auto rounded shadow p-5">
        <form [formGroup]="signinForm" (ngSubmit)="onSubmitSignIn()">
          <div class="form-group">
            <label for="email">Adresse email</label>
            <input type="email" id=email class="form-control" placeholder="example@email.com" formControlName="email">
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id=password class="form-control" placeholder="Minimum 6 caractères" formControlName="password">
          </div>
          <button class="btn btn-success" type="submit" [disabled]="signinForm.invalid">S'inscrire</button>
        </form>
        <hr class="mt-3 mb-1 bg-dark">
        <div class="mx-auto text-center">
          <span class="bottom-form-link" ><a href="/signup">Vous n'avez pas de compte&nbsp;? S'inscrire ici</a></span>
        </div>
      </div>
    </div>
  </div>
</section>
