<nav class="navbar navbar-expand-lg navbar-light toolbar">
  <div class="container">
    <a class="navbar-brand text-white" href="#">Trello Clone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse dropdown-toolbar" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto pl-3 pr-3">
      <li class="nav-item">
        <a class="nav-link text-white" href="/login" *ngIf="!isLogged">Connexion</a>
        <a class="nav-link text-white" href="/login" (click)="onSignOut()" *ngIf="isLogged" >Deconnexion</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

