
<section *ngIf="!isLogged">
  <div class="container">
    <h2 class="display-4 mt-5 mb-5 text-center">Inscrivez-vous à TrelloClone</h2>

    <div class="row">
      <div class="col-sm-10 col-md-7 col-lg-5 mx-auto rounded shadow p-5">
        <div>
          <div class="text-center" *ngIf="signUpFailed">
            <span style="color: red;" >Nous avons rencontrer un problème lors de la création de votre compte.</span>
          </div>
          <div class="text-center"*ngIf="emailAlreadyUse" >
            <span style="color: red;" >Vous avez déjà un compte chez nous.</span>
          </div>
          <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignUp()">
            <div class="form-group">
              <label for="email">Adresse email</label>
              <input type="email" id=email class="form-control" placeholder="example@email.com" formControlName="email">
            </div>
            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" id=password class="form-control" placeholder="Minimum 6 caractères" formControlName="password">
            </div>
            <button class="btn btn-success" type="submit" [disabled]="signupForm.invalid">S'inscrire</button>
          </form>
          <hr class="mt-3 mb-1 bg-dark">
          <div class="mx-auto text-center">
            <span class="bottom-form-link" ><a href="/login">Vous avez déjà un compte&nbsp;? Connectez-vous</a></span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<section *ngIf="isLogged">
  <app-sign></app-sign>
</section>
